<div class="d-inline-block" NgbDropdownConfig ngbDropdown #myDrop="ngbDropdown">
  <button class="btn btn-outline-light btn-rounded waves-effect" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Navigation</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual"> 
  <option class="config-option" *ngIf="(loggedIn && role === 'admin')" routerLink="/adminpanel">Manage customers</option>
  <option class="config-option" *ngIf="(loggedIn && role === 'admin')" routerLink="/adminsecondarypanel">Messages</option>
  <option class="config-option" *ngIf="(loggedIn && role === 'admin')">Activity reports</option>
</div>
</div>     