<form>
  <div class="form-group">
    <label>Outlet</label>
    <input #location type="text" class="form-control" placeholder="Enter outlet location">
  </div>
  <button type="button" class="btn btn-primary" (click)="passBack(location.value)">Submit</button>
</form>