
<div class="wrapper d-flex flex-column">
    <app-navbar *ngIf="isLoggedin" [loggedIn]="isLoggedin" [role]="role" [username]="username" (logout)="logout()" (helpMessage)="openHelpMessageModal()"></app-navbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
</div>
