
<!-- <ngb-carousel class="config-user" *ngIf="slides">
     <ng-template ngbSlide>
          <div>
               <img src="../../assets/coke-taste-the-feeling-14.jpg">
          </div>
          <div class="carousel-caption">
          </div>
     </ng-template>

     <ng-template ngbSlide>
          <div>
               <img src="../../assets/coke-taste-the-feeling-14.jpg" >
          </div>
     </ng-template>

     
</ngb-carousel> -->

<div class="body">
     <img src="../../assets/coke-taste-the-feeling-14.jpg" alt="">
     <div class="buttons">
     <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/userpanel/scan">Scan</button>
     <button type="button" class="btn btn-danger btn-lg">Barcode Input</button> -->
     <button class="btn btn-lg btn-filled btn-config" href="#" routerLink="/userpanel/scan"><em>Scan Barcode</em></button>
          
     <button class="btn-lg btn-white btn-config" href="#" type="button" (click)="openWindowCustomClass(content)"><em>Input Barcode</em></button>
     
          
     <ng-template #content let-modal>
          <div class="modal-header">
               <h4 class="modal-title">BARCODE:</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
               <input #text id="typeahead-config" type="text" class="form-control" [ngbTypeahead]="" placeholder=""/>
          </div>
          <div class="modal-footer">
                    <button type="button" ngbAutofocus class="ok"
                    (click)="this.onCodeResult(text.value)">SUBMIT</button>
          </div>
     </ng-template>
     <!-- <button class="btn btn-lg btn-white" href="#" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><em>Input Barcode</em></button> -->
     <!-- <button class="btn btn-outline-primary mb-2 mr-2" ">Modal with window custom class</button> -->
          <!-- <div id="collapseExample" [ngbCollapse]="isCollapsed">
               <div class="card">
                    <div class="card-body">
                         <div class="input-group mb-3">
                              <div class="md-form">
                                   <label for="typeahead-config">Search for a state:</label>
                                   <input id="typeahead-config" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="" />
                              </div>
                         </div>
                    </div>
               </div>
          </div> -->
     </div>
</div>