.config-user {
     overflow: hidden;
     margin:0; padding:0; height:100%; width:100%;
     .slider {
          display: block;
          min-height: 500px;
          width: 100%;
          background-position: center !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          overflow: hidden;
     }
     .ng-template {
          position: relative;
          width: 100%;
          display: block;
          min-height: 1000px;
          height: 100%;
          background-position: center !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          overflow: hidden;
     }

}


img {
     height: 100%;
     width: 100%;
     bottom:10;
     left: 0;
     top: 10;
     overflow: hidden;
     position: fixed;
}
.config-home{
     position: relative;
}

.btn-config:hover {
    background-color: #ff3b3b;
    box-shadow: 0px 15px 20px #ff3b3b;
    color: white;
    transform: translateY(-7px);
  }
// .image-bg .btn.btn-filled {
//      background: #745cf9;
//      color: #fff;
//      border-color: #745cf9;
//      display:inline-block;
//      top:50%;
//      left: 50%;
//      transform: translate(-50% -50%);
//  }

//  .btn-filled:visited {
//      color: #fff;
//  }

//  .btn:visited {
//      color: #745cf9;
//  }

//  a, a:visited {
//      // color: #745cf9;
//      font-weight: 600;
//      cursor: pointer;
//  }

//  .btn-lg {
//      line-height: 24px;
//      min-width: 200px;
//      padding-bottom: 13px;
//      padding-top: 13px;
//      display: inline-block;
//      top:50%;
//      left: 50%;
//      transform: translate(-50% -50%);
//  }

//  .btn, .button {
//      font-family: inherit;
//      border: 2px solid #745cf9;
//      padding: 0 26px;
//      font-size: 12px;
//      text-transform: uppercase;
//      letter-spacing: 1px;
//      border-radius: 0;
//      text-align: center;
//      -webkit-transition: all .3s ease;
//      margin-right: 8px;
//      margin-bottom: 24px;
//      white-space: normal;
//      top:50%;
//      left: 50%;
//      transform: translate(-50% -50%);
//  }

//  .btn {
//      display: inline-block;
//      vertical-align: middle;
//      touch-action: manipulation;
//      user-select: none;
//  }

//  *, *:before, *:after {
//      box-sizing: inherit;
//  }

//  :after, :before {
//      box-sizing: border-box;
//  }

//  *, *:before, *:after {
//      box-sizing: inherit;
//  }

//  :after, :before {
//      box-sizing: border-box;
//  }
.image-bg .btn.btn-filled {
    color: #fff; 
}

button, a:visited {
    
    color: #fff;
    font-weight: 600;
}
button, a:visited, a:active, a:hover {
    text-decoration: none;
}
button, a:visited, a:active, a:hover {
    text-decoration: none;
}

.btn-filled, a .btn-filled, .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background: #f50626e5;
    color: #fff;
}

.btn.btn-filled {
    display: inline-block;
    top:50%;
    left: 50%;
    transform: translate(-50% -50%);
    position: absolute; 
    line-height: 24px;
    min-width: 300px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    
    font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
}

.btn-filled:visited {
    color: #fff;
}


button, a:filled, a:active, a:hover {
    text-decoration: none;
}





.btn, .button {
    font-family: inherit;
    border: 2px solid black;
    padding: 0 26px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    margin-right: 24px;
    margin-bottom: 24px;
    white-space: normal;
    font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
    font-weight: 700 !important;
    
}

.btn,button {
    display: inline-block;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    font-weight: 700;
    
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 6px;

}


 *, *:before, *:after {
    box-sizing: inherit;
}

 *, *:before, *:after {
    box-sizing: inherit;
}

// :after, :before {
//     box-sizing: border-box;
// }

.btn-white, .image-bg .btn, .image-bg .btn:visited {
     // color: (0deg, #8490ff 0%,#62bdfc 100%);
    border-color: black;
}

.btn-white:visited, .btn:visited:hover {
    text-decoration:none;
}

.btn:last-child, .btn:last-of-type {
    margin-right: 0;
}

.btn-white {
    line-height: 24px; 
    min-width: 200px;
    padding-bottom: 13px;
    padding-top: 13px;
}

.card {
    display: inline-block;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    font-weight: 700;
    position: absolute; 
    top:55.5%;
    left: 70%;
    transform: translate(-50% -50%);
}

.modal-header, .modal-body, .modal-footer {
    background-color: #292b2c;
    color: white;
}
.closed {
    color: white;
}
.ok {
    background-color: red; /* Green */
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100%;
    height:100%;
    border: 2px solid black;
    // border-radius:50%;
}
.btn-white {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 24px;
    white-space: normal;
    background-color: #f50626e5;
}

// .btn-white {
//      display: inline-block;
//      top:50%;
//      left: 50%;
//      transform: translate(-50% -50%);
//      position: absolute; 
//      line-height: 24px;
//      min-width: 300px;
//      letter-spacing: 1px;
//      padding-bottom: 20px !important;
//      padding-top: 20px !important;
//      margin-left: 330px;
//      font-weight: 700 !important;
//      font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
//  }

.btn-white {
     display: inline-block;
     font-size: 17px;
     border: 2px solid black;
     top:50%;
     left: 50%;
     transform: translate(-50% -50%);
     position: absolute; 
     line-height: 24px;
     min-width: 300px;
     letter-spacing: 1px;
     padding-bottom: 20px !important;
     padding-top: 20px !important;
     margin-left: 330px;
     font-weight: 700 !important;
     font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
}
//  .btn-lg {
//      line-height: 34px;
//      min-width: 200px;
//      padding-bottom: 13px;
//      padding-top: 13px;
//      position: absolute;
//      display: inline-block;
//      top:50%;
//      left: 50%;
//      transform: translate(-50% -50%);
//      min-width: 200px;
//      padding-bottom: 13px;
//      padding-top: 13px;
//  }

//  .text-center {
//      text-align: center;
//  }
//  body {
//      -webkit-font-smoothing: antialiased;
//      -moz-osx-font-smoothing: grayscale;
//      font-size: 14px;
//      line-height: 24px;
//      font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif;
//      color: #8c979e;
//      overflow-x: hidden;
//      font-weight: 400;
//  }
//  body {
//      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//      font-size: 14px;
//      line-height: 1.42857143;
//      color: #333;
//      background-color: #fff;
//  }
//  html {
//      font-family: sans-serif;
//      -webkit-text-size-adjust: 100%;
//      -ms-text-size-adjust: 100%;
//  }
//  html {
//      font-size: 10px;
//      -webkit-tap-highlight-color: rgba(0,0,0,0);
//  }
//  html {
//      font-family: sans-serif;
//      -webkit-text-size-adjust: 100%;
//      -ms-text-size-adjust: 100%;
//  }
//  user agent stylesheet
//  html {
//      color: -internal-root-color;
//  }
//  *, *:before, *:after {
//      box-sizing: inherit;
//  }
//  :after, :before {
//      -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//      box-sizing: border-box;
//  }
//  *, *:before, *:after {
//      box-sizing: inherit;
//  }
//  :after, :before {
//      -webkit-box-sizing: border-box;
//      -moz-box-sizing: border-box;
//      box-sizing: border-box;
//  }
