<!-- <p>
  You win!
</p>
<button (click)="this.passBack(prize.value)">yes</button>
<button>no</button> -->
<div class= "modal.open">
    <div class="modal-header" *ngIf="(isRedeem === true)">
        <h4>sorry. This barcode is already redeemed !</h4>
    </div >
<div class="modal-header" *ngIf="(isRedeem === false)">
    <h4 class="modal-title">congratulations!</h4>
    <div class="buttonHolder">
  
        <!-- <button #cup type="prize" value="Coca-ColaCup" (click)="this.passBack(cup.value)" >Cup</button>
        <br>
        <button #cola type="prize" value="Coca-Cola500ml"  (click)="this.passBack(cola.value)">Coca-Cola 500ml</button>
        <br>
        <button #bear type="prize" value="Coca-ColaBear"  (click)="this.passBack(bear.value)">Bear</button> -->
        <button *ngFor="let prize of prizes" type="prize" value="prize.name" (click)="this.passBack(prize.name)" >{{prize.name}}</button>
</div >


  <!-- <input   type="prize" class="form-control" placeholder="Enter name" ngModel > -->




</div>
  <div class="modal-footer">
    <!-- <button type="prize" class="btn btn-outline-dark" (click)="this.passBack(prize.value)">Ok</button> -->
    <button #close (click)="this.passBack(close)">Close</button>
  </div>
  </div>