.buttonHolder{ 
     text-align: center; 
     
     button{
          font-family: inherit;
          border: 2px;
          padding: 0 26px;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          width:70%;
          text-align: center;
          margin-right: 24px;
          margin-bottom: 24px;
          white-space: normal;
          font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
          font-weight: 700 !important;
          background-color: red; 
          color: white;
          border-radius: 6px;
          line-height: 14px;
          min-width: 50px;
          padding-bottom: 20px !important;
          padding-top: 20px !important;
     }
}

.modal-header, .buttonHolder, .modal-footer {
     background-color: #292b2c;
     color: white;
}


.modal-footer {
button{
     font-family: inherit;
     border: 2px;
     padding: 0 26px;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1px;
     width:30% !important;
     text-align: center;
     margin-right: 24px;
     margin-bottom: 24px;
     // white-space: normal;
     font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
     font-weight: 700 !important;
     background-color: red; 
     color: white;
     border-radius: 6px;
     line-height: 14px;
     min-width: 50px;
     padding-bottom: 15px !important;
     padding-top: 15px !important;
     }
}


.modal-header{
     h4{
          text-align:center;
          color:red;
          font-size:20px;
          text-transform: uppercase;
          font-weight: 700;
     }
}


// close:hover{
//      display:block;
// }