<ngb-tabset [justify]="currentJustify">
  <ngb-tab class="tab-style" title="Unread">
    <ng-template ngbTabContent>
      <div *ngFor="let unreadMessage of this.unread" class="card">
        <h5 class="card-header">{{unreadMessage.id}}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{unreadMessage.issueTitle}}</h5>
          <p class="card-text">{{unreadMessage.description}}</p>
          <button (click)="markAsRead(unreadMessage.id)" class="btn btn-primary">Mark as read</button>
          <button (click)="deleteMessage(unreadMessage.id, 'unread')" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab class="tab-style" title="Read">
    <ng-template ngbTabContent>
      <div *ngFor="let readMessage of this.read" class="card">
        <h5 class="card-header">{{readMessage.id}}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{readMessage.issueTitle}}</h5>
          <p class="card-text">{{readMessage.description}}</p>
          <button (click)="unmarkAsRead(readMessage.id)" class="btn btn-primary">Unmark as read</button>
          <button (click)="deleteMessage(readMessage.id, 'read')" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  </ngb-tabset>

