<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Pick outlet</button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual"> 
    <option *ngFor="let outlet of outlets" ngbDropdownItem>{{outlet.name}}</option>
  </div>
</div>     