.modal-header, .modal-body, .modal-footer {
     background-color: #292b2c;
     color: white;
}

p{
     font-size:24px;
     color:red;
     font-weight: 700;
     font-weight: bold;
}

button{
     font-family: inherit;
     border: 2px black;
     padding: 0 26px;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1px;
     width:20%;
     text-align: center;
     margin-right: 18px;
     margin-bottom: 18px;
     white-space: normal;
     font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif !important;
     font-weight: 700 !important;
     background-color: red; 
     color: white;
     border-radius: 6px;
     line-height: 10px;
     min-width: 50px;
     padding-bottom: 13px !important;
     padding-top: 13px !important;
}