<form>
  <div class="form-group form-inline config">
      Search for a customer: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>
<button type="button" class="btn btn-dark" (click)="openCreateCustomer()">Create customer</button>
<div class="form-group form-inline" *ngIf="submit">
  <input #name class="form-control" type="text">
  <button class="btn btn-dark" (click)="passBack(name.value)">Submit</button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="config-sort" sortable="name" (sort)="onSort($event)"><i class="fa fa-sort"></i>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr class="row-style" *ngFor="let customer of customers$ | async; index as i">
    <td [routerLink]="['/adminpanel/', customer.id]">{{ customer.id }}</td>
    <td class="name-style" [routerLink]="['/adminpanel/', customer.id]">
    <ngb-highlight [result]="customer.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
        <button type="button" class="btn btn-warning" (click)="UpdateCustomer(customer.id)">Update</button>
        <button type="button" class="btn btn-danger" (click)="DeleteCustomer(customer.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
