<form>
    <div class="form-group">
      <label>Name</label>
      <input #name type="text" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input #email type="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input #password type="password" class="form-control" placeholder="Enter password">
      </div>
    <button type="button" class="btn btn-primary" (click)="passBack(name.value, email.value, password.value)">Submit</button>
  </form>