<form>
  <div class="form-group">
    <label>Issue Title</label>
    <input #issueTitle type="text" class="form-control" placeholder="Enter the title of your issue">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input #description type="email" class="form-control" placeholder="Enter a detailed description of the issue">
    <img src="../../../assets/coca-cola-logo.png" style="bottom:10px; right:15px; position:absolute; height:40px">

  </div>
  <button type="button" class="btn btn-primary" (click)="passBack(issueTitle.value, description.value)">Submit</button>
  
    
</form>