
form{
     background-color: #292b2c;
     border:5px solid black;
     color:white;
     input{
          border:5px solid black;
     }

     button{
          background-color:red;
          border:2px solid black;
     }    

     label{
          font-weight: bold;
     }

     
}