body{
background-color: #474747;
  img{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 25%;
    width: 15%;
  }
}


zxing-scanner {
  max-width: 50%;
  height: 10em;
  margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}


.results {
  // position: absolute;
  width: 42%;
  margin-left: auto;
  margin-right: auto;
  // margin-top:53%;
  padding: 35px;
  top:0;
  background: red;
  color: #fff;
  

  // display: ;
  align-items: center;
  justify-content: space-between;

  small {
    font-weight: bolder;
    display: block;
    font-size: 60%;
    margin: -0.6em 0 0 0;
}



header {
  position: sticky;
  top: 0;
  padding: 10px;
  background: #333;
  display: flex;

  button {
    margin-left: 8px;
  }

  mat-form-field {
    width: 50%;
    font-weight: bold;

    ::ng-deep {
      .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
          padding-top: 0;
        }
      }

      .mat-form-field-underline {
        bottom: 0;
      }
    }

    option {
      padding: 10px;
      line-height: 2;
      background: #474747;
      color: #fff;
    }
  }
}




  button {
    background: none;
    border: none;
    line-height: 1;
    font-weight: bolder;
    font-size: 120%;
    float: right;
    color: #fff;
    $mg: 8px;
    margin: (-$mg) (-$mg) (-$mg) $mg;
  }
}

h2 {
  padding: 0 16px;
}
