.card-body{
    padding: 5rem;
}

.config-option:hover{
    cursor: pointer;
    background-color: #ffff99;
}

ngb-tab{
    color:red;
}

button{
    border: 2px solid black;
    background-color: red;
    color:white;
    
}

button:hover {
    border:2px solid black;
    background-color:red;
    color: black;
}

button:active{
    border:2px solid black;
    background-color:red;
}

button:focus{
    background-color:red;
}

::ng-deep .nav-title .nav-link.active {
    margin-top: -1px;
    border-top: 2px solid red;
}

::ng-deep .nav-title .nav-link.active, 
::ng-deep .nav-title .show > .nav-link {
    color: #fff;
    background-color: red;
}