<ngb-tabset style="color:black" [justify]="currentJustify">
  <ngb-tab type="title" title="User Info" style="background-color: red" class="tab-title">
    <ng-template ngbTabContent style="background-color:red">
      <div class="card text-center">
        <!-- <div class="col-12 card-header">
          Featured
        </div> -->
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">Id: {{user.id}}</p>
          <p class="card-text">Email: {{user.email}}</p>
          <p class="card-text"></p>
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn" (click)="toggleMove()">Move user to another outlet</button>
          <div *ngIf="moveIsClicked" class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-outline mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Pick outlet</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual"> 
              <option class="config-option" *ngFor="let outlet of outlets" (click)="pickNewOutlet($event.target.value)">{{outlet.location}}</option>
            </div>
          </div>     
        </div>
      </div>
    </ng-template>
  </ngb-tab >
  <ngb-tab type="title"  title="Redemption record" class="tab-title">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col" class="config-sort" sortable="name" ><i class="fa fa-sort"></i>CreatedOn</th>
          <th scope="col" class="config-sort" sortable="email" >Barcode</th>
          <th scope="col" class="config-sort" sortable="email" >Customer</th>
          <th scope="col" class="config-sort" sortable="email" >Outlet</th>
          <th scope="col" class="config-sort" sortable="email" >User</th>
          <th scope="col" class="config-sort" sortable="email" >Prize</th>
          
          <!-- <th scope="col" class="config-sort" sortable="email" (sort)="onSort($event)"><i class="fa fa-sort"></i></th> -->
        
        </thead>
        <tbody>
        <tr class="row-style" *ngFor="let redemptionRecord of redemptionRecords$ | async; index as i">
          
          <td [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">{{ redemptionRecord.id }}</td>
          <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
          <ngb-highlight [result]="redemptionRecord.createdOn" ></ngb-highlight>
          </td>
          
          <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
            <ngb-highlight [result]="redemptionRecord.barcode">{{redemptionRecord.barcode}}</ngb-highlight>
          </td>
          
          <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
            <ngb-highlight [result]="redemptionRecord.customer" >{{redemptionRecord.customer}}</ngb-highlight>
          </td>

          <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
            <ngb-highlight [result]="redemptionRecord.outlet">{{redemptionRecord.outlet</ngb-highlight>
          </td>

          
          <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
            <ngb-highlight [result]="redemptionRecord.user" >{{redemptionRecord.user}}</ngb-highlight>
          </td>
          
          <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
            <ngb-highlight [result]="redemptionRecord.prize" >{{redemptionRecord.prize}}</ngb-highlight>
          </td>
          
          
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>