<div class="container">
    <div class="logo"></div>
    <div class="heading">Coca-Cola Prize Redemption App</div>
    <form class="login-form">
          <input #username type="text" class="form-control" placeholder="Enter email">
          <input #password type="password" class="form-control" placeholder="Password">
          <div class="btn-config">
            <button type="button" class="inner-btn" (click)="passBack(username.value, password.value)">Login</button>
        </div>
  </form>