.container {
    margin-top: 170px;
    display: block;
}

.logo {
  background-image: url('../../../assets/Coca-Cola_logo.svg');
  margin: auto;
  width: 202px;
  height: 67px
}

.heading {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.login-form{
    padding: 100px
}

.btn-config{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

input{
    padding: 30px;
}

.inner-btn{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #ff3b3b;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
  .inner-btn:hover {
    background-color: #ff3b3b;
    box-shadow: 0px 15px 20px #ff3b3b;
    color: white;
    transform: translateY(-7px);
  }
  