<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar-config">
  <a class="navbar-brand"><img src="../../../assets/coca-cola-logo.png" alt="coca-cola-logo" width="50%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <app-navbarDropdown [loggedIn]="this.loggedIn" [role]="this.role" *ngIf="(loggedIn && role === 'admin')"></app-navbarDropdown>
      <li *ngIf="(loggedIn && this.role === 'user' )"><button type="button" class="btn btn-outline-light btn-rounded waves-effect" name="login" routerLink="/userpanel">User panel</button></li>
      <li *ngIf="(loggedIn && this.role === 'user' )"><button type="submit" class="btn btn-outline-light btn-rounded waves-effect" (click)="triggerHelpMessage()">Help Desk</button></li>
      <li *ngIf="loggedIn"><button type="submit" class="btn btn-outline-light btn-rounded waves-effect" name="logout" routerLink="/home" (click)="triggerLogout()">Logout</button></li>
    </ul>  
    </div>
</nav>
