.fill-space {
  flex: 1 1 auto;
}

.auth-username {
  margin-right: 20px;
}

button {
  margin: 2px;
} 

.app-navbar, .mat-menu-panel {
  overflow: hidden !important;
}

 .navbar.custom-navbar-config
{
  background: rgba(255, 255, 255, 0.3);
}  


