<form>
    <div class="form-group">
      <label>Name</label>
      <input #name="ngModel" [(ngModel)]="this.user.name" name="name" type="text" class="form-control" placeholder="Enter name" ngModel >
    </div>
    <div class="form-group">
      <label>Email</label>
      <input #email="ngModel" [(ngModel)]="this.user.email" name="email"type="email" class="form-control" placeholder="Enter email" ngModel>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input #password="ngModel" [(ngModel)]="this.user.password" name="password" type="password" class="form-control" placeholder="Enter password">
      </div>
      <button type="button" class="btn btn-primary" (click)="passBack(name.value, email.value, password.value)">Submit</button>
  </form>