/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~ngx-toastr/toastr';

/* #background{
    background-image: url('./../../assets/coca-cola-background.jpg');
} */

html,
body {
    height: 100% !important;
}