<div class="auth-centered">
    <input #username placeholder="Username" type="text">
  <br/>
    <input #email placeholder="Email" type="email">
  <br/>
    <input #password matInput placeholder="Password" type="password">
  <br/>
  <button color="accent" (click)="register(username.value, email.value, password.value)">Register</button>
</div>