<body>
<form>
  <div class="form-group form-inline config">
      Search for a customer: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>
<button type="button" class="btn btn-dark" (click)="openCreateOutlet()">Create outlet</button>
<div class="form-group form-inline" *ngIf="submit">
  <input #location class="form-control" type="text">
  <button class="btn btn-dark" (click)="passBack(location.value)">Submit</button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="config-sort">Title</th>
    <th scope="col" class="config-sort" sortable="location" (sort)="onSort($event)"><i class="fa fa-sort"></i>Location</th>
  </tr>
  </thead>
  <tbody>
  <tr class="row-style" *ngFor="let outlet of outlets$ | async; index as i">
    <td [routerLink]="['/adminpanel/', customerId, 'outlets', outlet.id]">{{ outlet.id }}</td>
    <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outlet.id]">
    <ngb-highlight [result]="outlet.title" [term]="filter.value"></ngb-highlight>
    </td>
    <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outlet.id]">
      <ngb-highlight [result]="outlet.location" [term]="filter.value"></ngb-highlight>
      </td>
    <td>
        <button type="button" class="btn btn-warning" (click)="UpdateOutlet(outlet.id)">Update</button>
        <button type="button" class="btn btn-danger" (click)="DeleteOutlet(outlet.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
</body>