<form>
  <div class="form-group">
    <label>Username</label>
    <input #name type="text" class="form-control" placeholder="Enter customer name">
  </div>
  <button type="button" class="btn btn-primary" (click)="passBack(name.value)">Submit</button>
</form>