.footer-basic-centered {
     background-color: #292c2f;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
     box-sizing: border-box;
     width: 100%;
     text-align: center;
     font: normal 18px sans-serif;
     padding: 45px;
     margin-top: 80px;
     clear: both
}

footer {
     position: fixed;
     bottom: 0;
}


.rounded{
     position:fixed;
     bottom:0;
     right:0;
     border-radius: 4px;
     padding: 5px;
     width:200px;
     height:200px;
}
