<footer class="footer-basic-centered">

  <p class="footer-company-motto">The company motto.</p>

  <p class="footer-links">
    <a href="#">Home</a>
    ·
    <a href="#">Blog</a>
    ·
    <a href="#">Pricing</a>
    ·
    <a href="#">About</a>
    ·
    <a href="#">Faq</a>
    ·
    <a href="#">Contact</a>
  </p>

  <p class="footer-company-name">Company Name © 2015</p>

  <div class="rounded">
    <img class="rounded" src="../../assets/logo_round.png" alt="">
  </div>
</footer>