<scanner-info [hasDevices]="hasDevices" [hasPermission]="hasPermission"></scanner-info>

<mat-dialog-actions>
     <button mat-flat-button color="primary" mat-dialog-close>Done</button>
</mat-dialog-actions>