<body>
  
<form>
    <div class="form-group form-inline config">
        Search for a customer: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  <button type="button" class="btn btn-dark" (click)="openCreateUser()">Create user</button>

  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="config-sort" sortable="name" (sort)="onSort($event)"><i class="fa fa-sort"></i>Name</th>
      <th scope="col" class="config-sort" sortable="email" (sort)="onSort($event)"><i class="fa fa-sort"></i>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-style" *ngFor="let user of users$ | async; index as i">
      <td [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">{{ user.id }}</td>
      <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
      <ngb-highlight [result]="user.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td class="name-style" [routerLink]="['/adminpanel/', customerId, 'outlets', outletId, 'users', user.id]">
        <ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight>
        </td>
      <td>
          <button type="button" class="btn btn-warning" (click)="UpdateUser(user.id, user)">Update</button>
          <button type="button" class="btn btn-danger" (click)="DeleteUser(user.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  
</body>